@using PagedList
@using PagedList.Mvc
@using TakipProg.Models
@model IPagedList<Model2>
@{
    ViewBag.Title = "Calismalar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Çalışmalar</h2>
<hr />


@using (Html.BeginForm())
{
    <p>
        Günlere göre filtrele: @Html.TextBox("GunString",ViewBag.SuankiFiltre as string)
        Makinaya göre filtrele: @Html.TextBox("MakinaString",ViewBag.SuankiFiltre2 as string)
        <input type="submit" value="Gönder" />
        @Html.ActionLink("Excele Aktar", "ExportToExcel")
    </p>
}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Gün</th>
                <th scope="col">Başlanan Mekik</th>
                <th scope="col">Bitiş Mekik</th>
                <th scope="col">Mekik</th>
                <th scope="col">Not</th>
                <th scope="col">Çalışılan Makina</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Gün</td>
                    <td>@item.BaslananMekik</td>
                    <td>@item.BitisMekik</td>
                    <td>@item.Mekik</td>
                    <td>@item.Not</td>
                    <td>@item.Makina</td>
                </tr>


            }
        </tbody>
    </table>
    <p>@ViewBag.Sayi adet veri bulundu</p>

@Html.PagedListPager(Model, SayfaNo => Url.Action("Calismalar",
    new { SayfaNo,suankiFiltre=ViewBag.SuankiFiltre,suankiFiltre2=ViewBag.SuankiFiltre2}))

